{% extends 'layout/base.html' %}

{% block main %}
<div class="container">
    <h1>Chess Board</h1>
    <h4>Finding out knight moves</h4>
    <hr />

    <div class="row align-content-between mb-3">
        <div class="input-group input-group-sm col">
            <button class="btn btn-danger remove-row text-white">
                <span class="h4">-</span>
            </button>

            <input type="number" min="1" class="form-control" id="number_rows">

            <div class="input-group-text">rows</div>

            <button class="btn btn-success add-row text-white">
                <span class="h4">+</span>
            </button>
        </div>

        <div class="input-group input-group-sm col">
            <button class="btn btn-danger remove-column text-white">
                <span class="h4">-</span>
            </button>

            <input type="number" min="1" class="form-control" id="number_columns">

            <div class="input-group-text">columns</div>

            <button class="btn btn-success add-column text-white">
                <span class="h4">+</span>
            </button>
        </div>

        <div class="col">
            <div class="input-group">
                <div class="input-group-text">Piece</div>
                <select id="names-list" class="form-select">
                    {% for name in names %}
                    <option value="{{ name.name }}">{{ name.name }}</option>
                    {% endfor %}
                </select>

                <select id="colors-list" class="form-select">
                    {% for color in colors %}
                    <option value="{{ color.color }}">{{ color.color }}</option>
                    {% endfor %}
                </select>

                <button class="btn btn-dark">Get ID</button>
            </div>
        </div>
    </div>

    <div class="chess-board text-center d-flex">
        <ul class="coordinates row-coordinates nav flex-column"></ul>

        <div class="content"></div>
    </div>

    <ul class="coordinates column-coordinates nav"></ul>
</div>
{% endblock main %}
