{% extends '../layout/base.html' %}

{% block main %}
<div class="container">
    <h1>Chess Pieces</h1>
    <h4>Register and list</h4>
    <hr />
    <form class="piece-register" action="{% url 'register_piece' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id">
        <div class="input-group">
            <span class="input-group-text">Piece</span>
            <input type="text" name="name" class="form-control" placeholder="name" />
            <input type="text" name="color" class="form-control" placeholder="color" />
            <input type="submit" value="Send" class="form-control btn btn-dark" />
        </div>
    </form>
    <hr />
    <div class="pieces-list"></div>
</div>
{% endblock main %}

{% block scripts %}
<script type="text/javascript">
    list_pieces();
</script>
{% endblock scripts %}
