main {
    min-height: 100vh;
}

div.board-row {
    display: flex;
    align-content: center;
    flex-direction: row;
}

div.square {
    border: 1px solid black;
    margin: 0;
    padding: 25px;
    text-align: center;
}

div.square:hover {
    filter: contrast(600%);
}

div.square.light {
    background-color: orange;
}

div.square.dark {
    background-color: orangered;
}

div.square.clicked {
    background-color: blue;
}

div.square.selected {
    background-color: lightblue;
}

ul.coordinates li {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    width: 52px;
    height: 52px;
    border: 1px solid transparent;
    text-align: center;
}

ul.column-coordinates li:first-of-type {
    margin-left: 52px;
}
